# This is a basic workflow to help you get started with Actions

name: chteoh-action CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  HELM_EXPERIMENTAL_OCI: 1

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_and_push:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag sidlabacr03.azurecr.io/chteoh-app:latest
   
    - name: Azure Container Registry Login
      uses: Azure/docker-login@v1
      with:
        # Container registry username
        username: sidlabacr03
        # Container registry password
        password: JFHb3IFYta5QZxR44XzU6j=ch6OhS9GI
        # Container registry server url
        login-server: sidlabacr03.azurecr.io
    - name: Push the Docker image
      run: docker push sidlabacr03.azurecr.io/chteoh-app:latest
    - name: Helm tool installer
      uses: Azure/setup-helm@v1
      with:
        # Version of helm
        version: 3.3.1
    - name: Login to ACR using helm
      run: |
        echo $ | helm registry login sidlabacr03.azurecr.io --username sidlabacr03 --password JFHb3IFYta5QZxR44XzU6j=ch6OhS9GI
    - name: Package helm chart
      run: helm package ./helm/chteoh-api
    - name: Retag helm chart
      run: |
        helm chart save ./chteoh-api-0.1.0.tgz sidlabacr03.azurecr.io/chart-chteoh-api:latest
    - name: Push helm chart
      run: helm chart push sidlabacr03.azurecr.io/chart-chteoh-api:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push # Will wait for the execution of the previous job
    
    steps:
    - uses: actions/checkout@v2
    - name: Azure Kubernetes set context
      uses: Azure/aks-set-context@v1.1
      with:
        # Azure credentials i.e. output of `az ad sp create-for-rbac --sdk-auth`
        creds: ${{ secrets.AKS_CREDS }}
        # Resource Group Name
        resource-group: Intel_RG_01
        # AKS Cluster Name
        cluster-name: sidlabaks03
    - name: Helm tool installer
      uses: Azure/setup-helm@v1
      with:
        # Version of helm
        version: 3.3.1
        
    - name: Login to ACR using HELM
      run: |
        echo $ | helm registry login sidlabacr03.azurecr.io --username sidlabacr03 --password JFHb3IFYta5QZxR44XzU6j=ch6OhS9GI
        
    - name : Set Helm Env Var
      run : export HELM_EXPERIMENTAL_OCI=1  
      
    - name: Helm Chart Pull
      run: helm chart pull sidlabacr03.azurecr.io/charts-chteoh-api:latest
   
    - name: Helm Chart Move
      run: helm chart export sidlabacr03.azurecr.io/chart-chteoh-api:latest --destination ./install
      
    - name: Helm Chart Install
      run: helm upgrade --namespace ns-chteoh --install --set image.tag=latest chteoh-api ./install/chteoh-api # release name chart name


#     - name: Kubernetes set context
#       uses: Azure/k8s-set-context@v1
#       with:
#         kubeconfig: ${{secrets.KUBECONFIG}}  
#       id: login
      
#     - name: Apply AKS Deployment
#       run: kubectl apply -f deployment.yml
      
#     - name: Apply AKS Deployment
#       run: kubectl apply -f service.yml    
