# This is a basic workflow to help you get started with Actions

name: chteoh-action CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_and_push:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag sidlabacr03.azurecr.io/chteoh-action:latest
   
    - name: Azure Container Registry Login
      uses: Azure/docker-login@v1
      with:
        # Container registry username
        username: sidlabacr03
        # Container registry password
        password: JFHb3IFYta5QZxR44XzU6j=ch6OhS9GI
        # Container registry server url
        login-server: inteltrainingacr02.azurecr.io
    - name: Push the Docker image
      run: docker push sidlabacr03.azurecr.io/chteoh-action:latest
      
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push # Will wait for the execution of the previous job
    
    steps:
    - uses: actions/checkout@v2
#     - name: Azure Kubernetes set context
#       uses: Azure/aks-set-context@v1.1
#       with:
#         # Azure credentials i.e. output of `az ad sp create-for-rbac --sdk-auth`
#         creds: ${{ secrets.AKS_CREDS }}
#         # Resource Group Name
#         resource-group: Intel_RG_01
#         # AKS Cluster Name
#         cluster-name: sidlabaks03


    - name: Kubernetes set context
      uses: Azure/k8s-set-context@v1
      with:
        kubeconfig: ${{secrets.KUBECONFIG}}  
      id: login
      
    - name: Apply AKS Deployment
      run: kubectl apply -f deployment.yaml
      
    - name: Apply AKS Deployment
      run: kubectl apply -f service.yaml    
